:root{
    --text-color:#1a1c20;
    --link-color:#4a76ee;
    --background-color:#eeeff1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    
}
a{
    color:black;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height:80px ;
}
nav .left a{
    color: black;
    font-size: 28px;

    
}
nav .right a{
   color:black;
   margin:0 10px;
   
}
nav .right a:last-child {
    color: var(--background-color);
    background-color: var(--text-color);
    padding:5px 15px ;
    border-radius: 5px;
    margin-bottom: 10px;
}
nav .right a span{
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 15px;
    
}

/* section 1:hero*/
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
   gap: 5px;

}
.hero-section .text{
    flex: 5;
}
.hero-section .image{
    flex: 1;
}
.hero-section .text h2{
    font-size: 45px;
}
.hero-section .text .links{
    margin-top: 20px;
}
.hero-section .text .links a{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--text-color);
    border-radius: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.hero-section .text .links a:hover{
    background-color: var(--text-color);
    color: var(--background-color);
    
}

@media(max-width:700px){
    .hero-section{
        flex-direction: column reverse;
        text-align: center;
        
    }
    
}

@media(max-width:600px){
    nav{
        padding: 0 20px;
    }
    nav .right a{
        font-size: 22px;
    }
    nav .right a:last-child {
        color: var(--text-color);
        background-color: transparent;
        padding: 0;
    }
    nav .right a span{
        display: none;
    }
}

