:root{
--text-color:#ffffff;
--link-color:#8ab4f8;
--background-color:#0d1117;
}
body{
--bg-color: #0d1117;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    
}
a{
    color: var(--link-color);
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height:80px ;
}
nav .left a{
    color: var(--text-color);
    font-size: 20px;
}

nav .right a{
   color: var(--text-color);
   margin:0 10px;
   
}
nav .right a:last-child {
    color: var(--background-color);
    background-color: var(--text-color);
    padding:5px 15px ;
    border-radius: 5px;
    margin-bottom: 10px;
}
nav .right a span{
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 15px;
    
}

/* section 1:hero*/
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin: 50px 0;
    gap: 5px;
    color: #ffffff;
    background:#161b22;
    padding-left: 0 20px;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.4);

}
.hero-section .text{
    flex: 5;
    
}
.hero-section .image{
    flex: 1;
}
.hero-section .text h2{
    font-size: 30px;
}
.hero-section .text p{
    font-size: 18px;
}
.hero-section .text .links{
    margin-top: 20px;
}
.hero-section .text .links a{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--text-color);
    border-radius: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.hero-section .text .links a:hover{
    background-color: var(--text-color);
    color: var(--background-color);
    
}

.hero-section .image img{
    display: flex;
    justify-content: right;
}
/* section 2 : skills */
.skills{
    padding: 10px 25px;
    margin-bottom: 30px;
    text-align: left;
    color: snow;
}
.skills h2{
    
    font-size: 30px;
    text-align: left;
    margin-bottom: 0 0 15px 0;
}
.skills {
background:#161b22;
padding-left: 0 20px;
border-radius:12px;
box-shadow:0 4px 12px rgba(0,0,0,0.4);
}

.skills .text{
    
    text-align: left;
    margin-bottom: 30px;
    font-size: 18px;
}
.skills .cells{
    display: flex;
    justify-content: right;
    gap: 10px;
    flex-wrap: wrap;
    text-align: right;
}
.skills .cells .cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width : 150px;
    padding: 10px 20px;
    border: 1px solid var(--text-color);
    border-radius: 10px;

    
}
.projects{
   
    padding: 10px 15px;
    margin-bottom: 50px;
    gap: 10px;
    color: snow;
    background:#161b22;
padding-left: 0 20px;
border-radius:12px;
box-shadow:0 4px 12px rgba(0,0,0,0.4);
    
}
.projects h2{
    font-size: 30px;
    text-align: left;
    margin-bottom: 30px;
}
.projects .project-list{
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 18px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    
}
.projects .project-list a{
    text-align: left;
}

/* contact section */
.contact{
    color: snow;
    padding: 10px 15px;
    margin-bottom: 40px;
    background:#161b22;
padding-left: 0 20px;
border-radius:12px;
box-shadow:0 4px 12px rgba(0,0,0,0.4);
}

.contact .group .text{
    margin-top: 5px;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: left;
}
.contact .group .contact-links{
    display: flex;
    justify-content: left;
    gap: 20px;
    flex-wrap: wrap;
    font-size: 18px;
    margin-top: 10px;
}
.projects .project-list a{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--text-color);
    border-radius: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.projects .project-list a:hover{
    background-color: var(--text-color);
    color: var(--background-color);
    
}
.contactform{
box-shadow:0 4px 12px rgba(0,0,0,0.4);
background:#161b22;
}
.contact input, .contact textarea{
border-radius:8px;
}
.contact .group .contactform{
    display: flex;
    
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
    max-width: 420px;
    margin: 20px 0;
    padding: 20px;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    
}
.contact .group .contactform input, .contact .group .contactform textarea{
    padding: 10px;
    font-size: 16px;
    
    
}

    


@media(max-width:700px){
    .hero-section{
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
    }
    .hero-section .image{
        display: block;
        margin: 0 auto;
    }
    
}

@media(max-width:600px){
    nav{
        padding: 0 20px;
    }
    nav .right a{
        font-size: 22px;
    }
    nav .right a:last-child {
        color: var(--text-color);
        background-color: transparent;
        padding: 0;
    }
    nav .right a span{
        display: none;
    }
}

